@{ 
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<h2 style="font-family:'Segoe UI';">Số lượng hàng không đủ để bạn có thể đặt</h2>
<style>
    .product-model-sec {
        display: none;
    }

    h2 {
        margin-bottom: 100px;
    }
</style>