
@{
    ViewBag.Title = "ThongBaoThanhCong";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

<h2 style="font-family:'Segoe UI';">Đặt hàng thành công</h2>
<style>
    .product-model-sec {
        display: none;
    }

    h2 {
        margin-bottom: 100px;
    }
</style>

